@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<p>
    @Html.Raw(Html.Encode(@ViewBag.Message).Replace(Environment.NewLine, "<br />"))
</p>

<address>
    @Html.Raw(Html.Encode(@ViewBag.Address).Replace(",", "<br />"))
</address>


<address>
    Phone: @ViewBag.Phone
</address>
<address>
    Mobile or Text: @ViewBag.Mobile
</address>

<address>
    <strong>Email:</strong>   <a href=@string.Concat("mailto:", @ViewBag.Email)>@ViewBag.Email</a><br />
</address>


<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<div id="map_canvas" style="width: 640px; height: 480px"></div>


